.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  background-color: #2f303a;

  &__container {
    display: flex;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
      justify-content: space-around;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }

  &__logo {
    margin-bottom: 20px;
    color: #2196f3;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
  }
  &__list {
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.left-side {
  margin-right: 70px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-start;
  }
}

.logo-footer {
  margin-bottom: 20px;
}

.accents {
  color: var(--primary-white-color);
}

.adressa {
  display: flex;
  justify-content: center;
}
.mail {
  justify-content: center;
}
.tel {
  display: flex;
  justify-content: center;
}
