.team-section {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  color: var(--title-text-color);

  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.team-list-item {
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.team-section-title {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
}

.team .name {
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .position {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.team-icon-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0;
}

.team-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--primary-white-color);

  transition-property: color, background-color;
  transition-duration: var(--fast-animation);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.team-icon {
  fill: currentColor;
}
