:root {
    --primary-text-color: #757575;
    --primary-white-color: #ffffff;
    --title-text-color: #212121;
    --primary-bg-color: #e5e5e5;
    --accent-color: #2196f3;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --backlights: rgb(62, 0, 128);
    --fast-animation: 250ms;
}